name: Auth Service CI/CD

on:
  push:
    branches: [ main ]
    paths:
      - 'auth-service/**'
      - '.github/workflows/auth-ci-cd.yml'

jobs:
  test-build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Test and Build JAR
        run: mvn clean package -pl auth-service -am

      - name: Log in to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | podman login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and Push Image
        run: |
          cd auth-service
          # This uses the JAR sitting in the target/ folder we just built
          podman build -t ghcr.io/${{ github.repository_owner }}/auth-service:latest -f Containerfile .
          podman push ghcr.io/${{ github.repository_owner }}/auth-service:latest
